body
{   margin: 20px;
       font-size:larger;
       font-style: italic;
  text-align: center;
  background-repeat: repeat-y;
  background:repeating-linear-gradient(rgb(15, 15, 15),black,yellow,rgb(87, 9, 231));
    height:30px;
    width:100%;
    color:rgb(15, 240, 15);
        margin-top: 30px;
        margin-bottom: 30px;
        margin-right: 40px;
        margin-left: 0px;
      }
    p{
        float: left;
        margin-top: 10px;
        text-align: center;
        margin-bottom: 0px;
        margin-right: 10px;
        margin-left: 10px;
        text-align: justify;
        border-style:groove;
        border-radius: 10px;
        padding: 10px;
        border-width: 10px;
        border-color: brown;
        background:linear-gradient(blue,black);       
      }
      h1{
        
        border-radius: 100%;
        background:linear-gradient(yellow,red,white ,orange);
        padding: 10px;
        padding-top: 10px;
        padding-bottom: 10px;
        margin-bottom: 0px;
        border-width: 10px;
        border-color: rgb(17, 198, 230);
        
      }
      p2{
        
        text-align: center;
      }
      #h1{
        position: sticky;
      }
  
    